body {
    background-color: #FAF9F6;
}

article {
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px 30px black;
    margin-bottom: 20px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    padding-top: 25px;
}

.portfolio-header {
    border-top: 10px solid #ff7878;

}

.portfolio-work-experience {
    border-top: 10px solid #78ff95;

}

.portfolio-skills {
    border-top: 10px solid #ff78ed;
}

.portfolio-education {
    border-top: 10px solid #ffaa78;
}

.portfolio-old-projects {
    border-top: 10px solid #788cff;

}

.portfolio-activities {
    border-top: 10px solid #ac78ff;
}

@media only screen and (max-width: 1200px) {
    iframe {
        width: 260px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    iframe {
        width: 180px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    iframe {
        width: 350px;
    }
  }
